<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Zapatillas</title>
</head>
<body>
    <h1>Lista de Zapatillas</h1>
    <ul>
        {% for zapatilla in zapatillas %}
            <li>
                <strong>Nombre:</strong> {{ zapatilla.nombre }}<br>
                <strong>Descripción:</strong> {{ zapatilla.descripcion }}<br>
                <strong>Tipo:</strong> {{ zapatilla.get_tipo_display }}<br>
                <strong>Precio:</strong> {{ zapatilla.precio }}<br>
                <strong>Stock:</strong> {{ zapatilla.stock }}<br>
                <strong>Marca:</strong> {{ zapatilla.marca }}<br>
                <strong>Imagen:</strong><br>
                <img src="{{ zapatilla.imagen.url }}" alt="{{ zapatilla.nombre }} - Imagen">
            </li>
            <br>
        {% endfor %}
    </ul>
</body>
</html>